@charset "utf-8";
/* CSS Document */
body{
		background-image: url(/image/bg.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 200px;
	}
